* {
  margin : 0;
  padding : 0;
  box-sizing : border-box;
}

#canvas {
  display : block;
  background-color : #FFFFFF;
  cursor : crosshair;
}

html, body {
  width : 100%;
  height : 100%;
  margin : 0;
  background-color : #D5DEEC;
}

.tools {
  padding : 1em 2em;
  display : flex;
}

.mouseColor {
  margin : 0 1em;
}
.mouseColorActive {
  background-color : #C9E0F7;
}

.leftColor, .rightColor {
  height : 50px;
  vertical-align : middle;
}

.colors {
  display : inline-flex;
  flex-direction : column;
  justify-content : center;
}

.colorFirstRow button, .colorSecondRow button {
  width : 1.5em;
  height : 1.5em;
}

.colorBlack {
  background-color : #000000;
}
.color_7f7f7f {
  background-color : #7F7F7F;
}
.color_880015 {
  background-color : #880015;
}
.color_ed1c24 {
  background-color : #ED1C24;
}
.color_ff7f27 {
  background-color : #FF7F27;
}
.color_fff200 {
  background-color : #FFF200;
}
.color_22b14c {
  background-color : #22B14C;
}
.colorFirstRow button:nth-child(8) {
  background-color : #00A2E8;
}
.colorFirstRow button:nth-child(9) {
  background-color : #3F48CC;
}
.colorFirstRow button:nth-child(10) {
  background-color : #A349A4;
}
.colorSecondRow button:nth-child(1) {
  background-color : #FFFFFF;
}
.colorSecondRow button:nth-child(2) {
  background-color : #C3C3C3;
}
.colorSecondRow button:nth-child(3) {
  background-color : #B97A57;
}
.colorSecondRow button:nth-child(4) {
  background-color : #FFAEC9;
}
.colorSecondRow button:nth-child(5) {
  background-color : #FFC90E;
}
.colorSecondRow button:nth-child(6) {
  background-color : #EFE4B0;
}
.colorSecondRow button:nth-child(7) {
  background-color : #B5E61D;
}
.colorSecondRow button:nth-child(8) {
  background-color : #99D9EA;
}
.colorSecondRow button:nth-child(9) {
  background-color : #7092BE;
}
.colorSecondRow button:nth-child(10) {
  background-color : #C8BFE7;
}

.range-wrap {
  position : fixed;
  top : 50%;
  right : 30px;
  width : 30px;
  height : 150px;
  margin-top : -75px;
}
.range-wrap input {
  transform : rotate(-90deg);
  width : 150px;
  height : 20px;
  margin : 0;
  transform-origin : 75px 75px;
  border-radius : 15px;
  -webkit-appearance : none;
  outline : none;
  position : relative;
}
.range-wrap input::after {
  display : block;
  content : '';
  width : 0;
  height : 0;
  border : 5px solid transparent;
  border-right : 150px solid #00CCFF;
  border-left-width : 0;
  position : absolute;
  left : 0;
  top : 5px;
  border-radius : 15px;
  z-index : 0;
}
.range-wrap input[type='range']::-webkit-slider-thumb, .range-wrap input[type='range']::-moz-range-thumb {
  -webkit-appearance : none;
}
.range-wrap input[type='range']::-webkit-slider-runnable-track, .range-wrap input[type='range']::-moz-range-track {
  height : 10px;
  border-radius : 10px;
  box-shadow : none;
}
.range-wrap input[type='range']::-webkit-slider-thumb {
  -webkit-appearance : none;
  height : 20px;
  width : 20px;
  margin-top : -1px;
  background : #FFFFFF;
  border-radius : 50%;
  box-shadow : 0 0 8px #00CCFF;
  position : relative;
  z-index : 99;
}
